body {
  font-family: "Roboto", sans-serif;
  color: #f4f6f9;
  background-color: #1b1f23;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  color: #50e3c2;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: linear-gradient(150deg, #2e3434, #212b2b);
  padding: 1rem 1.5rem;
  border-radius: 0 0 18rem 0;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0.25rem;
}

nav ul li {
  padding: 0.75rem 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #f4f6f9;
  font-size: 14pt;
  transition: color 0.3s, transform 0.2s;
}

nav ul li a:hover {
  transform: translateY(-1rem);
  background-color: #50e3c2;
  color: #212b2b;
}

ul li {
  background: #283b3b;
  color: #50e3c2;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 13pt;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1.25rem;
  list-style-type: none;
}

ul li:hover {
  transform: translateY(-1rem);
  background-color: #50e3c2;
  color: #212b2b;
}

p {
  font-size: 14pt;
  margin-bottom: 1.5rem;
  text-align: center;
}

section {
  padding: 1.5rem;
  margin: 2.2rem auto;
  max-width: 80%;
  text-align: center;
  color: #f4f6f9;
  border-radius: 1.5rem;
  background: #212b2b;
  scroll-margin-top: 12rem;
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-1rem);
  background: #2e3434;
}

section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: left;
  flex-wrap: wrap;
}

section img {
  width: 50%;
  height: auto;
  border-radius: 1.5rem;
}

#join-us-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin: 0;
  display: inline-block;
}

#contact-us input,
#contact-us textarea {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 0.1rem solid #50e3c2;
  border-radius: 0.75rem;
  font-size: 14pt;
  background: #283b3b;
}

#contact-us ::placeholder {
  color: #50e3c2;
}

#contact-us label {
  font-size: 13pt;
}

#contact-us textarea {
  height: 16rem;
}

#contact-us button {
  background: #283b3b;
  color: #50e3c2;
  padding: 1rem 2.5rem;
  font-size: 14pt;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#contact-us button:hover {
  transform: translateY(-1rem);
  background-color: #50e3c2;
  color: #212b2b;
}

footer {
  background: linear-gradient(150deg, #2e3434, #212b2b);
  color: #212b2b;
  text-align: center;
  border-radius: 18rem 0 0 0;
  padding: 1rem 1.5rem;
}

footer h3 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 18pt;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0;
  list-style: none;
}

footer ul li {
  background: #283b3b;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  transition: transform 0.3s ease;
}

footer ul li a {
  text-decoration: none;
  color: #f4f6f9;
  font-size: 14pt;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  transform: translateY(-1rem);
  background-color: #50e3c2;
  color: #212b2b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 36rem) {
  section {
    padding: 1.25rem;
  }

  footer,
  nav {
    padding: 0.25rem;
  }

  footer h3 {
    font-size: medium;
  }

  header {
    position: relative;
  }

  nav ul,
  footer ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5375rem;
  }

  section ul li {
    font-size: 12pt;   
    margin: 1rem;   
  }
}

@media (max-width: 48rem) {
  body {
    overflow-x: hidden;
  }

  nav ul,
  footer ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5375rem;
  }

  header {
    position: relative;
  }
}

@media (max-width: 62rem) {
  body {
    overflow-x: hidden;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
    gap: 0.5375rem;
  }

  section .content {
    flex-direction: column;
    text-align: center;
  }

  #contact-us input,
  #contact-us textarea {
    font-size: 12pt;
  }

  #contact-us button {
    padding: 1.25rem 1.75rem;
    font-size: 11pt;
  }

  #contact-us img {
    max-width: 90%;
  }

  header {
    position: relative;
  }

  section ul {
    display: flex;             
    flex-wrap: wrap;          
    justify-content: center;   
    align-items: center;        
    padding: 0;
    margin: 0;
    width: 100%;                 
  }

  section ul li {
    background: #283b3b;
    color: #50e3c2;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 13pt;
    margin: 1.25rem; 
    list-style-type: none;
    max-width: 15.625rem; 
    flex: 1 1 100%; 
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
  }

  section ul li:hover {
    transform: translateY(-1rem);
    background-color: #50e3c2;
    color: #212b2b;
  }
}

@media (min-width: 75rem) {
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 73.125rem;
  }
}
